body{
    font-family: "Montserrat","sans-serif";
    background-color: black;
    margin: 0;
    color: white;
    overflow: hidden;
  
}

.main {
    display: flex;
    height: 100vh;
}
.sidebar{
   background-color: black;
   width: 340px;
   border-radius: 1rem;
   margin-right: 0.50rem;

}
.main-content {
    background-color:  #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player {
   background-color:  black;
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-option{
    line-height: 40px;
    margin-left: 2rem;
    opacity: 0.7;
}

.nav-option:hover{
    opacity: 1;
}
.nav-option{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img {
    font-size: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
    .icons i{
    margin-right: 1rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.8rem;
    opacity: 0.9;
}
.badge{
    background-color:white ;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge {
    background-color:black ;
    color: white;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left:  0.75rem;
}
.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 1rem;
}
@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}
.card {
    background-color: #232323;
    width: 160px;
   
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
   
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    
   
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}


.items {
 
  margin: left;
  line-height: 2px;
  padding-top: 6rem;
  display: flex;
 align-content: center;
 flex-wrap: wrap;
    margin-right: 3rem;
    justify-content:flex-start;
 

}
.media{
align-items: center;
margin-left: 20rem;

}
.insta{
    height:  40px;
  font-size:24px;
    background-color: #232323;
    border-radius: 100%;
    margin: 0.1rem;
    padding: 0.8rem;
}

.fb{
    height:  40px;
  font-size:24px;
    background-color: #232323;
    border-radius:100%;
    margin: 0.1rem; 
    padding: 0.8rem; 
}
.twit{
    height:  40px;
  font-size:24px;
    background-color: #232323;
    border-radius: 100%;
     margin:0.1rem;
    padding: 0.8rem;
   
}


.comp{
    line-height: 1rem;
}
.comm{
    line-height: 1rem;

}
.links{
    line-height: 1rem;
}



.com {
    font-weight: 600;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  


.player{
    width: 50%;
   
}
.controls {
    width: 25%;
    margin: right;

}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity:0.7;
   align-items: center;
   justify-content: center;
   margin-bottom: 0.5rem;
}
.player-control-icon:hover {
    opacity: 1;
}
.playback-bar {
    display:flex;
    justify-content: center;
    align-items:center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem;
}
.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.control-pro-icon{
    cursor: pointer;
}
.album-icon{
 height: 4rem;
}
.album{
  width: 25%;
    display: flex;
    margin-left: 1rem;
}
.song{
    flex-direction: row;
  font-size: 0.8rem;
height: 0.5rem;
margin-left: 0.5rem;

}
   
.control-icon{
    opacity:0.7;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.8rem;
  
}
.control-icon:hover{
    opacity: 1;
    display: flex;

}
.control-pro-icon{
    height: 3rem;
    width: 3rem;
    margin-right: 0.8rem;
   
}
.controls{
  display: flex;
    justify-content: center;
   align-items: center;
  
}
.control-pro-icon {
    height: 1.3rem;
    width: 1.3rem;
    width: 50%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.control-pro-icon::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem;
  
}
  .control-pro-icon::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
  }  
